
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 100%;
}

h3 a {
    text-decoration: none;
}

@media screen and (max-width: 450px){
    .container img {
        width: 40%;
        height: 80%;
    }
}